<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="weixinrui GitHub Packages" value="https://nuget.pkg.github.com/weixinrui/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. 
       We are allowing anything to come from anywhere -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="weixinrui GitHub Packages">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>